#home{
    height: 60vh;
    display: flex;
    align-items: center;
    background:linear-gradient(to right,#0A3A2A, pink);
    color: white;
    margin-bottom: 70px;
    padding: 60px 15px;
;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
    color: #ffffff !important;
}

.navbar-toggler {
    border-color: #ffffff;
}

.navbar-toggler-icon {
    filter: invert(1);
}

#about{
    background-color: #0A3A2A;
    font-weight: 500;
    color: white;
}
p{
    font-family: 'Kumbh Sans', sans-serif;
}

#skills{
    margin-top: 70px;
    color: #0A3A2A;
    background-color: #0A3A2A;
    scroll-margin-top: 150px;
}

.section{
    padding: 60px 0;
    scroll-margin-top: 200px; 
}

.card:hover{
    height: 100%;
    border: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    color: pink;
}

img{
    max-width: 100%;
    height: auto;
}

#skills .card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
#skills{
    font-weight: 500;
    color: white;
}

#projects{
    scroll-margin-top: 30px;
    background-color: #0A3A2A;
    font-weight: 500;
    color: white;
}

#contact{
    background-color: #0A3A2A;
    font-weight: 500;
    color: white;
}
.footer-pink {
    background-color: pink;
    color: white; /* keeps text readable */
}
